@color-orange: #ff9900;
@color-gray_light: #cccccc;
@color-black_medium: #454545;

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.app{
	@allWidth: 50%;
	width: 900px;
	min-height: 700px;
	border: 1px solid @color-gray_light;
	background-color: @color-black_medium;
	margin: 0 auto;
	padding: 20px;
	.app__side{
		width: @allWidth;
		display: inline-block;
		padding: 20px;
		background-color: @color-orange;
	}
}